.sudoku {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 1px;
}

.row:nth-child(3n) .cell,
.row:nth-child(3n+1) .cell {
    border-bottom: 2px solid black;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}