#game-board {
    width: 1400px !important;
    height: 900px !important;
    border: 1px solid black !important;
    position: relative !important;
}
.snake {
    position: absolute !important;
    background-color: blue !important;
    width: 30px !important;
    height: 30px !important;
}

.food {
    position: absolute !important;
    background-color: red !important;
    width: 30px !important;
    height: 30px !important;
}