#game-board {
    width: 1400px;
    height: 900px;
    border: 1px solid black;
    position: relative;
}
.snake {
    position: absolute;
    background-color: blue;
    width: 30px;
    height: 30px;
}

.food {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
}