#board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    margin: 0 auto;
    width: 500px;
}

#board div {
    background-color: #9fc6c1;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0;
    height: 50px;
    text-align: center;
    width: 50px;
}

#board div.ship {
    background-color: #5e8d93;
}

#board div.hit {
    background-color: #f00;
}

#board div.miss {
    background-color: #fff;
    border-color: #999;
}

h1 {
    text-align: center;
}